html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    scrollbar-width: 0px;
    margin: 0 auto;
}
body::-webkit-scrollbar{
    display: none;
}

.title1 {
    font-size: 1.5em;
    font-weight: 600;
}
.정답란{
    background-color: rgb(215, 215, 215);
    font-size: 4vw;
    font-weight: 600;
    color:rgb(0, 0, 0);
    text-decoration-line: none;
    position:relative;
    top: 1vw;
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}